<div class="landing">
  <app-title class="landing__element"></app-title>
  <app-sidebar></app-sidebar>
  <app-footer></app-footer>
  <app-logo></app-logo>
  <app-navbar>
    <app-title class="landing__element"></app-title>
  </app-navbar>
  <app-footer></app-footer>
  <app-title class="landing__element"></app-title>

  <div class="landing__colour_element orange_soda">{{ orange_soda }}</div>
  <div class="landing__colour_element battleship_grey">
    {{ battleship_grey }}
  </div>
  <div class="landing__colour_element jonquil">{{ jonquil }}</div>
  <div
    class="landing__colour_element caput_mortuum"
    [innerHTML]="caput_mortuum"
  ></div>
  <div
    class="landing__colour_element dark_sky_blue"
    [innerHTML]="dark_sky_blue"
  ></div>
  <div
    class="landing__colour_element celtic_blue"
    [innerHTML]="celtic_blue"
  ></div>
</div>
